.outerBlock{
  width: 30%;
  max-width: 440px;
  min-width: 400px;
  border: 1px solid black;
  .innerBlock{
    width: 94%;
    margin: 10px;
    text-align: center;
    .imgDisplay{ height: 300px; padding: 10px; margin: auto;  display: block; max-width: 350px;}
    .typeDisplay{ font-weight: 600; font-size: 1.7rem; display: block;}
    .buttonContainer {
      .setsDisplay{ font-size: 1.5rem; font-weight: 600; display: block;}
      .repsDisplay{ font-size: 1.5rem; font-weight: 600; display: block;}
    }
  }
}

.gymRoutine {
  width: 100%;
}

.buttonContainer {
  display: flex;
  align-content: center;
  flex-direction: row; 
  justify-content: center;
  button {
    margin: 0 10px;
  }
}

.lineContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  div {
    width: 100%;
    text-align: center;
  }
}

.notesContainer {
  display: block;
  width: 100%;
  .notesInnerContainer{
    padding: 5px;
    width: 100%;
    input {
      width: 70%;
      height: 3rem;
    }
  }
}

.onSubmitRecBtn {
  margin: 20px;
}

.hide{
  display:none;
}
